name: Windows PR CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
        distribution: 'temurin'        
    - name: Build with Maven
      run: mvn -B verify --file lemminx-maven/pom.xml -fae
